@import url('https://fonts.googleapis.com/css?family=Catamaran|Nanum+Gothic|Noto+Sans+KR|Rajdhani');
/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Catamaran', sans-serif;
*/


body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    height: 100em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}

p a:hover {
    background-color: lightblue;
    text-decoration: underline;
}

li a:hover {
    text-decoration: underline;
}

#container {
    display: flex;
    flex-direction: column;
    /* justify-content: row; */
    max-width: 100%;
    /* height: 64em; */
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Rajdhani', sans-serif;
}

/* Nav items */
.header-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height: 22em; */
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo-title {
    margin: 2em;
    height: 40px;
    width: 40px;
}

.mca-logo-header {
    height: 69.67px;
    width:150px;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.logo-bring-home {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 60px;
}

.full-nav {
    position: fixed;
    top: 3em;
    right: 2em;
    z-index: 1;
    user-select: none;
}

.full-nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    /* top: 64px;
    right: 25px; */
    cursor: pointer;
    z-index:2;
    opacity: 0;
}

.full-nav span {
    display: block;
    background-color: black;
    height: 4px;
    width: 33px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition-property: transform, background, opacity;
    transition-duration: 0.5s, 0.5s, 0.55s;
    transition-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1), cubic-bezier(0.77, 0.2, 0.05, 1), ease;
    transition-delay: 0s, 0s, 0s;
}

header .full-nav input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
}

header .full-nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
    background: black;
}

header .full-nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}

header .full-nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    background: black;
}

header .full-nav input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    background: black;
}

.nav-list {
    background-color: #79a9c5;
    position: absolute;
    margin: -200px 0 0 -210px;
    padding: 20px;
    padding-top: 305px;
    transform-origin: 0% 0%;
    transform: translate(180%, 0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: -1;
    width: 20em;
}

.header-li {
    list-style-type: none;
    font-size: 30px;
    padding: 6px;
}

.desktop_title {
    display: none;
}

.desktop_nav {
    display: none;
}

/* Main Content */
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    font-size: 22px;
}

#main-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
}

#sub-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 35px;
}

/* Intro Banner */
.intro-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12em;
    /* justify-content: center; */
}

.intro-banner h2 {
    font-size: 40px;
}

.intro-banner p {
    font-size: 20px;
    padding: 2px 20px;
}

.intro-banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Events Page */
.events-main {
    display: flex;
    flex-direction: column;
}

.event-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.location-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /* Contact Us Page */
.contactus_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em;
}

.contactus_main_sub {
    display: flex;
    width: 13em;
    margin: 10px 0px;
}

#contact_para {
    display: flex;
    flex-direction: column;
}

.events_para {
    display: flex;
    justify-content: space-between;
    width: 30em;
}
.contact-link {
    color: red;
}

/* Membership Page */

.membership-para {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

li.membership-list-sellers {
    list-style-type: inherit;
    position: relative;
    left: 2em;
    max-width: 80%;
}

/* Carousel */
.slider-xr {
    width: 320px;
    height: 239px;
    position: relative;
    left: 1.2em;
    border-radius: 5px;
}

.carousel_img_cont {
    display: flex;
    justify-content: center;
}

.button_contain {
    display: flex;
    padding: 6px 10px;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

button:hover {
    background-color: lightblue;
    font-weight: bold;
}

button {
    border-radius: 10px;
    font-size: 13px;
    background-color: lightgray;
}

/* FOOTER */
.footer-container {
    display: block;
    height: 25em;
}

.footer-title {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.footer-imgs {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* height: 25em; */
    align-items: center;
    margin: 10px;
}

.footer_img1 {
    height: 51px;
    width: 157px;
    margin: 2px;
}
.footer_img2 {
    height: 74px;
    width: 169.5px;
    margin: 2px;
}
.footer_img3 {
    height: 40px;
    width: 142px;
    margin: 2px;
}
.footer_img4 {
    height: 75px;
    width: 138px;
    margin: 2px;
}
.footer_img5 {
    height: 42px;
    width: 148px;
    margin: 2px;
}
.footer_img6 {
    height: 74px;
    width: 150px;
    margin: 2px;
}
.footer-imgs-sub1 {
    display: contents;
}

.social-media-group {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}
.social-media-group2 {
    display: flex;
    width: 100px;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.social-media-indiv {
    padding: 10px;
}

.footer-social {
    width: 29px;
    height: 29px;
}
/********** Tablet Styles *************/
@media only screen and (min-width: 401px) and (max-width: 960px) {

/* Nav items */
#main-title {
    width: 100%;
    font-size: 35px;
}
/* Header */
.mca-logo-header {
    height: 69.67px;
    width:150px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
/* home page */
.intro-banner h2 {
    font-size: 49px;
}

/* Events Page */
.event-snippet {
    padding: 0em 4em;
}
/* FOOTER */
.footer-imgs-sub1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
}

/********** Desktop Styles *************/
@media only screen and (min-width: 961px) {

/* Full Page Formatting */
body {
    margin: 0em 0.5em 0em 0.5em;
}

/* Nav items */
#main-title {
    width: 100%;
    position: relative;
    bottom: 0.2em;
    left: 10px;
    font-size: 50px;
    display: flex;
}

.desktop_nav {
    display: flex;
}

.desktop-ul {
    display: flex;
}

/* Header */
.mca-logo-header {
    height: 69.67px;
    width:170px;
}

.desktop-header-config {
    width: 100em;
}

.full-nav {
    display: none;
}

/* Main Content */
.carousel_img_cont {
    width: 15em;
}

.intro-banner h2 {
    font-size: 60px;
}

/* Events Page */
.event-snippet {
    padding: 0em 8em;
}

/* Contact Us Page */
.events_para {
    display: flex;
    /* justify-content: space-between; */
    width: 37em;
}

#contact_para {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contactus_main_sub {
    width: 28em;
    margin: 2px 0px;
}

.contact-link {
    color: red;
}


/* FOOTER */
.footer-imgs {
    flex-direction: row;
}

.footer-imgs-sub1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
}