/* @import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
/*
font-family: 'Rajdhani', sans-serif;
font-family: 'DM Serif Display', serif;
*/


body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: #acbebe;
    z-index: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    /* text-decoration: underline; */
    color: black;
    /* text-underline-position: auto; */
}

p a:hover {
    text-decoration: underline;
    /* text-underline-position: under; */
    color: #cc2530;
}

li a:hover {
    text-decoration: underline;
    /* text-underline-position: under; */
    color: #cc2530;
}

li a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    /* justify-content: row; */
    max-width: 100%;
    /* height: 64em; */
    height: 100%;
    overflow: hidden;
    position: relative;
    /* font-family: 'Rajdhani', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-color: #acbebe;
}

/* Nav items */
.header-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height: 22em; */
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo-title {
    margin: 2em;
    height: 40px;
    width: 40px;
}

.mca-logo-header {
    height: 69.67px;
    width:150px;
    position: relative;
    right: 10px;
    bottom: 10px;
}

.logo-bring-home {
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 60px;
}

.full-nav {
    position: fixed;
    top: 3em;
    right: 2em;
    z-index: 1;
    user-select: none;
}

.full-nav input {
    display: block;
    width: 40px;
    height: 32px;
    position: fixed;
    /* top: 64px;
    right: 25px; */
    cursor: pointer;
    z-index:2;
    opacity: 0;
}

.full-nav span {
    display: block;
    background-color: black;
    height: 4px;
    width: 33px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition-property: transform, background, opacity;
    transition-duration: 0.5s, 0.5s, 0.55s;
    transition-timing-function: cubic-bezier(0.77, 0.2, 0.05, 1), cubic-bezier(0.77, 0.2, 0.05, 1), ease;
    transition-delay: 0s, 0s, 0s;
}

header .full-nav input:checked ~ ul {
    transform: scale(1, 1);
    opacity: 1;
}

header .full-nav span:nth-last-child(2) {
    transform-origin: 0% 100%;
    background: black;
}

header .full-nav input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}

header .full-nav input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    background: black;
}

header .full-nav input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
    background: black;
}

.nav-list {
    background-color: #79a9c5;
    position: absolute;
    margin: -330px 0 0 -210px; /* previously this was -200 instead of -350px */
    padding: 20px;
    padding-top: 305px;
    transform-origin: 0% 0%;
    transform: translate(180%, 0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: -1;
    width: 20em;
}

.header-li {
    list-style-type: none;
    font-size: 30px;
    padding: 0px 6px;
}

.desktop_title {
    display: none;
}

.desktop_nav {
    display: none;
}

/* Main Content */
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 10px; */
    font-size: 18px;
    width: 100%;
}

#main-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    text-align: center;
    /* font-family: 'DM Serif Display', serif; */
    font-family: 'Poppins', sans-serif;
}

#sub-title {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 35px;
}

/* Intro Banner */
.intro-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 1em;
    /* height: 12em; */
    /* justify-content: center; */
}

.intro-banner h2 {
    font-size: 40px;
    text-align: center;
}

.intro-banner p {
    font-size: 22px;
    padding: 6px 20px;
    text-align: center;
}

.intro-banner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.attention {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 5px;
}

.attention a:hover {
    color: #cc2530;
    text-decoration-line: underline;
}

/* Events Page */
.events-main {
    display: flex;
    flex-direction: column;
}

.event-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    padding: 1em /*2em */;
    margin: 10px 0px;
}

.event-title {
    font-size: 27px;
    margin: 5px 0px;
    text-align: center;
    font-weight: 500;
}

.event-desc {
    padding: 10px;
    font-size: 24px;
}

.location-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    padding: 1em;
}

.location-snippet p {
    font-size: 24px;
}

.location-snippet a:hover {
    color: #cc2530;
    text-decoration-line: underline;
}

.event-snippet h4 {
    font-size: 28px;
    margin: 5px 0px;
}

.context-note {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    margin: 10px 0px 0px 0px;
}

.signup-desc {
    margin: 30px 5px 20px 5px;
}

#content-sect {
    /* background-color: #f4f4ef; */
    background-color:#d8d8d4;
    border-style: groove;
    margin: 0.5em;
}
 /* Contact Us Page */
.contactus_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactus_main_sub {
    display: flex;
    width: 13em;
    margin: 10px 0px;
}

#contact_para {
    display: flex;
    flex-direction: column;
}

.events_para {
    display: flex;
    justify-content: space-between;
    width: 30em;
}
.contact-link {
    color: #344d90;
}

/* Membership Page */

.membership-para {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding: 0px 20px;
}

li.membership-list-sellers {
    list-style-type: inherit;
    position: relative;
    left: 2em;
    max-width: 80%;
}

.mem-h3 {
    margin: 10px 0px 10px 0px;
}
.mem-bene {
    margin: 10px 0px 10px 0px;
}

#join-grabber {
    font-size: 30px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    border-style: groove;
    text-align: center;
    padding: 0px 0px 10px 0px;
}

#paypal-grabber {
    font-size: 30px;
    color: darkcyan;
    display: flex;
    justify-content: center;
}

/* join MCA page */

.join-mca-intro-para {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.join-mca-intro-para p {
    padding: 15px;
    text-align: center;
}

.highlight {
    background-color: yellow;
}

.inner-box {
    border-style: solid;
    width: 100%;
    margin: 10px 0px;
}

.paypal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

/* Resources Page */
.grid-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
}

#grid-list-mobile {
    height: 100%;
}

.resource-grid {
    display: flex;
}

.resource-grid-scorpio {
    display: flex;
    flex-direction: column;
}

.resource-grid-content {
    border-style: solid;
    width: 100%;
    height: 100%;
}

.resource-grid-content2 {
    border-style: solid;
    height: 100%;
    width: 100%;
}

.grid-divide {
    display: flex;
    flex-direction: column;
}

.multiple-resource {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#resource-link {
    padding: 10px 0px;
}

#history_border {
    padding: 10px 0px;
}

#resource-link2 {
    padding: 10px;
    height: 3em;
}

#resource-link3 {
    height: 1em;
    padding: 0px 0px 30px 0px;
}

.resource-grid-title {
    width: 100%;
}
/* Carousel */
.slider-xr {
    width: 320px;
    height: 239px;
    position: relative;
    /* left: 1.2em; */
    border-radius: 5px;
    margin: 0px 40px;
}

.carousel_img_cont {
    display: flex;
}

.button_contain {
    display: flex;
    padding: 6px 10px;
    position: relative;
    width: 100%;
    justify-content: space-between;
}

button:hover {
    background-color: lightgray;
    font-weight: bold;
    color: #cc2530;
}

button {
    border-radius: 10px;
    font-size: 13px;
    background-color: lightgray;
    color: black;
}

/* FOOTER */
.footer-container {
    display: block;
    /* height: 25em; */
    position: relative;
}

.footer-title {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.footer-imgs {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* height: 25em; */
    align-items: center;
    margin: 10px;
}

.footer_img1 {
    height: 51px;
    width: 157px;
    margin: 2px;
}
.footer_img2 {
    height: 74px;
    width: 169.5px;
    margin: 2px;
}
.footer_img3 {
    height: 40px;
    width: 142px;
    margin: 2px;
}
.footer_img4 {
    height: 75px;
    width: 138px;
    margin: 2px;
}
.footer_img5 {
    height: 42px;
    width: 148px;
    margin: 2px;
}
.footer_img6 {
    height: 74px;
    width: 150px;
    margin: 2px;
}
.footer-imgs-sub1 {
    display: contents;
}

.social-media-group {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}
.social-media-group2 {
    display: flex;
    width: 240px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.social-media-indiv {
    padding: 10px;
}

.footer-social {
    width: 29px;
    height: 29px;
}
/********** Tablet Styles *************/
@media only screen and (min-width: 401px) and (max-width: 960px) {

/* Nav items */
#main-title {
    width: 100%;
    font-size: 35px;
}
/* Header */
.mca-logo-header {
    height: 69.67px;
    width:150px;
    position: relative;
    right: 10px;
    bottom: 10px;
}
/* home page */
.intro-banner h2 {
    font-size: 49px;
}

/* .intro-banner p {
    text-align: left;
} */

.carousel_img_cont {
    justify-content: center;
}
.slider-xr {
    margin: 0px 45px;
}


#content-sect {
    margin: 1.5em;
}

/* Events Page */
/* .event-snippet {
    padding: 1em 4em;
}*/

/* resources page */
.grid-list {
    flex-direction: row;
}

.multiple-resource {
    flex-direction: column;
}

#history_border {
    border-style: none;
}

#resource-link2 {
    height: 7em;
}

/* FOOTER */
.footer-imgs-sub1 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}
}

/********** Desktop Styles *************/
@media only screen and (min-width: 961px) {

/* Full Page Formatting */
/* body {
    margin: 0em 0.5em 0em 0.5em;
} */

/* Nav items */
#main-title {
    width: 100%;
    position: relative;
    bottom: 1.2em;
    left: 10px;
    font-size: 50px;
    display: flex;
    margin: 20px 0px;
}

.main-container {
    font-size: 22px;
}

.desktop_nav {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #acbebe;
    justify-content: flex-end;
}

.desktop-ul {
    display: flex;
}


/* Header */
.mca-logo-header {
    height: 99.67px;
    width:195px;
}

.desktop-header-config {
    width: 100em;
}

.full-nav {
    display: none;
}

/* Main Content */
.carousel_img_cont {
    width: 15em;
}

.slider-xr {
    margin: 0px 45px;
}

.intro-banner h2 {
    font-size: 60px;
}

.intro-banner p {
    text-align: left;
}

/* Events Page */
.event-snippet {
    padding: 2em 8em;
}

/* Contact Us Page */
.events_para {
    display: flex;
    /* justify-content: space-between; */
    width: 37em;
}

#contact_para {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.contactus_main_sub {
    width: 32em;
    margin: 2px 0px;
}

/* resources page */
.grid-list {
    flex-direction: row;
}

.multiple-resource {
    flex-direction: column;
}

#history_border {
    border-style: none;
}

#resource-link2 {
    height: 3em;
}

/* join MCA page */

.inner-box {
    min-width: 20em;
    max-width: 50%;
}

/* FOOTER */
.footer-imgs {
    flex-direction: row;
}

.footer-imgs-sub1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
}